body {
    font-family: "Sofia-Pro", sans-serif;
    background-color: #f5f5ee;
  }

.section {
    padding: 2rem 0 7rem;
}


.custom-navbar {
    background: rgb(18, 112, 42);
}

.custom-footer {
    background-color: rgb(18, 112, 42);
    color: #fff;
    padding: 2rem 0;
}

.dark-bg {
    background-color:rgb(18, 112, 42);
    padding-bottom: 1rem;
}
.on-dark-bg {
    color: white;
}.col{
    padding-bottom: 1rem;
}
.site{
    width: 30rem;
    height: 25rem;
    padding-bottom: 1rem;
}
/* on hover make expand */
.site:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* make Y Combinator orange, bold, and underline */
.topic {
    color: rgb(18, 112, 42);
    font-weight: bold;
    text-decoration: underline;
}
  